/* Supprimer les marges par défaut de TipTap */
.ProseMirror p {
  margin: 0;
  line-height: 1.4;
}

/* Optionnel : styling comme un input Bootstrap/CoreUI */
.tiptap-editor {
  border: 1px solid #444;
  border-radius: 6px;
  min-height: 45px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}
.tiptap.ProseMirror p {
    height: 40px;
}
.tiptap-editor .ProseMirror {
  flex: 1;
  outline: none;
}

[data-coreui-theme="dark"] .formio-component-select .choices__inner {
  background-color: #2b2f3a !important;
  border-color: #444 !important;
  color: #f1f1f1 !important;
}

[data-coreui-theme="dark"] .formio-component-select .choices__list--dropdown {
  background-color: #2b2f3a !important;
  color: #f1f1f1 !important;
}

[data-coreui-theme="dark"] .formio-component-select .choices__item {
  color: #f1f1f1 !important;
}

[data-coreui-theme="dark"] .formio-component-select .choices__item.is-highlighted {
  background-color: #3b3f4a !important;
}
.formio-component-submit {
  margin-top : 20px;
}
.messenger {
  padding : 20px !important;
}
/* global.css */
a.d-block.text-reset.text-decoration-none:hover .card,
div[role="button"]:hover .card { box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); }
div[role="button"]:focus-visible { outline: 2px solid var(--cui-primary); outline-offset: 2px; }


.fw-semibold {
    margin-bottom: 0;
}
